.columns {
    text-align: center;
}
.card {
    margin: 1rem;
    border: 4px rgb(90, 88, 88) solid;
    box-shadow: 4px, 4px, 9px rgb(240, 235, 235);
    width: 175px;
    height: 175px;
    transition: all .2s ease-in-out;
    position: relative;
}
.card:hover {
    box-shadow: 8px 8px 20px rgb(53, 52, 52);
    transform: scale(1.1);
    cursor: pointer;
}
.card:active {
    transform: translate(1px, 1px);
}
.card > .img-container {
    height: 100%;
    overflow: hidden;
    background: black;
    box-shadow: 8px 8px 8px grey;
}
.card > .img-container > img {
    /* height: 100%; */
    max-width: 100%;
}
