.main-container {
  background-color: black;
  color: white;
}
.game-container {
  max-width: 80%;
  padding: 20px;
}
.game-message {
  font-family: 'Ribeye Marrow', cursive;
  font-weight: bold;
  font-size: 18px;
}
.game-score {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 18px;
}
